[submodule "droid/oculus_reader"]
	path = droid/oculus_reader
	url = git@github.com:rail-berkeley/oculus_reader.git
[submodule "droid/fairo"]
	path = droid/fairo
	url = https://github.com/facebookresearch/fairo.git
[submodule "scripts/droid_dataset_builder"]
	path = scripts/droid_dataset_builder
	url = https://github.com/alexcbb/droid_dataset_builder
